@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Onest:wght@400;500;600;700;800;900&display=swap');

  h1, h2, h3 {
    font-family: 'IBM Plex Serif', serif;
  }

  h2, h3, p {
    margin: 1rem;
  }

  h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgb(50, 85, 145);
    padding: 2rem;
  }

  h3 {
    color: rgb(15, 57, 113);
  }

  body {
    background-color: rgb(218, 227, 237);
    margin: 0;
  }


  p {
    font-family: 'Onest', sans-serif;
    font-weight: 400;
  }

  footer {
    color: white;
    margin-top: 2rem;
    background-color: rgb(50, 85, 145);
    padding: 1rem;
  }

  .home {
    color: rgb(239, 128, 206);
  }

  img {
    display: block;
    height: 400px;
  }

  .slideshow {
    width: 400px;
    margin: auto;
  }

  .slideshow figure {
    margin: 0;
  }

  .slideshow .nxt {
    float: right;
  }
  
  .nxt, .prev {
    color: rgb(69, 175, 255);
    text-decoration: none;
    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.564);
    padding: 0.2rem;
  }
